/*_______________________________________________________
// BASIC STYLE  //----------------------------
_______________________________________________________*/
/*---------- General Style ------------*/
body, html {color: #000000; background: #12111f;}
a, a:focus { color: #000000; }
a:hover {color: #bd26f8; }
a.active {color: #b626f8; }

.btn {color: #030303;  background: #f0b3ff; border: 1px solid #12111f; border-color: #12111f;}
.btn:hover {color: #12111f;}
.btn:before{background: -webkit-radial-gradient(center, ellipse, rgba(19, 10, 36, 0.5) 0%, rgba(0, 0, 0, 0) 80%); background: radial-gradient(ellipse at center, rgba(39, 3, 106, 0.5) 0%, rgba(0, 0, 0, 0) 80%);}
.owl-dot{background: #fff !important;}
.owl-dot.active {background: #f8ee26 !important;}

#preloader{background: url(../images/loader.svg) center no-repeat #470fac;}

.form-control, .form-control:focus{background: #ffffff; color: #000000;}
.form-control::-webkit-input-placeholder {color: #a9a6af;}
.form-control::-moz-placeholder {color: #b2b0b5;}
.form-control:-ms-input-placeholder {color: #b3b3b3;}
.form-control:-moz-placeholder {color: #b3b3b3;}
.heading-title{color: #000000;}
.heading-des{color: #000000;}
.heading-title-2 span, .sub-heading {
	background: linear-gradient(90deg, rgb(12, 12, 225) 0%, rgb(255, 0, 174) 100%);
	-webkit-background-clip: text;
	color:transparent;
	font-size: 25px;
}
.work-process-title{color: #000000;font-size: 40px;}
.work-box .sub-heading{font-size: 25px;}
.work-des{color: #000000;}
.sub-page-banner{background-color: #1b1625;}
.skyblue{background-color: #ccc8fd;}
.darkblue{background-color: #ccc8fd;}
.top-scroll {background: #2d1ef8; color: #ffffff;}
.top-scroll:hover {opacity: 0.6;}
.top-scroll a{color: #fff;}

/*----- Menu -----*/
.menu ul li a:before{background: #94f4ff;}
header.fixed{background: rgb(255,247,173);
	background: linear-gradient(0deg, rgb(255 248 184 / 88%) 0%, rgb(255 149 247) 100%);}/*
header.fixed{background: rgba(21, 15, 32, 0.95);}*/
.opener:before, .opener:after{background: #fff;}
.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after{background: #fff;}
header.fixed .menu-toggle span, header.fixed .menu-toggle span:before, header.fixed .menu-toggle span:after{background: #fff;}
.menu-toggle.active span{background: transparent;}

/*----- Home Banner -----*/
.home-banner{background-color:rgb(205, 200, 249,1) ;}/*color(a98-rgb 0.84,0.89,0.96,1)rgb(192, 190, 213)*/
.banner-heading{color: #000000;}

/*----- Work Section -----*/
ul.check-list li span{background: #111111; color: #17aab4;}

/*----- Feature Section -----
revisar


*/
.feature-title:hover {color: #da4bfd;}
.feature-box:hover path.hover {fill: #da4bfd;}

/*----- Timeline Section -----
revisar

*/
.h-border, .v-row{border-color: #da4bfd;}
.small-round{border-color: #fff;}
.v-row:before, .small-round span{background: #da4bfd;}

/*----- Team Section -----*/
.team-img{border-color: #12111f;}
.team-box:hover .team-img {border-color: #da4bfd;}

/*----- Token Sale Section -----

revisar

*/
.token-graphic-detail ul li:before{background: #f85d77;}
.token-graphic-detail ul li.color-code-2:before{background: #5ad6f8;}
.token-graphic-detail ul li.color-code-3:before{background: #f8c04e;}
.token-graphic-detail ul li.color-code-4:before{background: #ac56f7;}
.token-graphic-detail ul li.color-code-5:before{background: #61f89f;}
.donut {color: #3d1f94;}

/*----- Blog Section -----
revisar
*/
.blog-date li:before{background: #fff;}
.read-more{color: #da4bfd;}
.read-more:hover{color: #fff;}
.blog-img a:before{background: rgb(73 15 180 / 0.5);}

/*----- FAQ Section -----
revisar
*/
.Frequently-tabs li a{color: #7a41e2;}
.Frequently-tabs li a.active{color: #fff;}
.Frequently-tabs li a:before{background: #da4bfd;}
.qus-des {color: #b690fa;}

/*----- Home Page Tow -----
revisar

*/
.banner-heading-tow span{color: #da4bfd;}
.coin-counter{background: #5d19db;}
.coin-head{color: #da4bfd;}
.coins-counter-loop li:before, .coins-counter-loop li:after{background: #fff;}
.coins-counter-loop li span{background: #480eb4; color: #fff;}
.coins-progress{background: #490fb4;}
.coins-progress span {background-color: #d94afd;}

/*----- Feature tow -----*/
.feature-box-2 .frontend, .feature-box-2 .backend  {background: #5d19db;}
.feature-des {color: #000000;}

/*----- Roadmap Section -----*/
.roadmap-part .v-row, .roadmap-part .h-border, .roadmap-des {border-color: #da4bfd;}
.roadmap-part .small-round {background: #470fac;}

/*----- team Tow Section -----
tarjetas


*/

.team-box-2{background: #fff;}
.team-member-name a{color: #da4bfd;}
.team-member-name a:hover{color: #490fb4;}
.team-member-img {background-color: #490fb4;}
.team-member-img:after{background-color: rgba(255, 255, 255, .4);}

/*----- Blog Tow Section -----
revisar


*/
.blog-part-2 .read-more:hover {color: #fff;}

/*----- FAQ tow Section -----
revisar

*/
.faq-part-2 .Frequently-tabs li a, .faq-part-2 .faq-tab, .accordion-faq-title {color: #fff; background: #5d19db;}
.faq-part-2 .Frequently-tabs li a.active{background: #da4bfd;}
.faq-part-2 .qus-des{color: #fff;}
.accordion-faq-title.active, .accordion-faq-title:hover{ color: #fff;}
.accordion-faq-content{background: #5d19db;}
.accordion-faq-title:before, .accordion-faq-title:after{background: #fff;}

/*----- About Page -----


*/
.sub-page-banner ul li:before{background: #fff;}
.play-icon span{border-color: #470fac; background: #fff; color: #470fac;}
.play-icon:hover span{border-color: #fff; background: #da4bfd; color: #fff;}
.work-part button.close{color: #fff;}
button.close{color: #fff;}

/*----- blog List Page -----

*/
.blog-search input{border-color: #da4bfd; color: #fff;}
.blog-search-btn{background: #da4bfd; color: #fff;}
.blog-search input::-webkit-input-placeholder {color: #8d56f3;}
.blog-search input::-moz-placeholder {color: #8d56f3;}
.blog-search input:-ms-input-placeholder {color: #8d56f3;}
.blog-search input:-moz-placeholder {color: #8d56f3;}
.blog-search-btn:hover {background: #5d19db;}
.blog-category{background: #5d19db;}
.blog-category ul li:before{background: #da4bfd;}
.trending-news-date{color: #da4bfd;}
.blog-tags ul li a{background: #5d19db; color: #da4bfd;}
.blog-tags ul li a:hover{background: #da4bfd; color: #fff;}
.archives ul li{border-color: #5d19db;}
.blog-list-content ul li:before{background: #fff;}
.blog-list-pagination ul li a{background: #5d19db;}
.blog-list-pagination ul li a:hover, .blog-list-pagination ul li a.active{color: #fff; background: #da4bfd;}

/*----- blog Detail Page -----*/
.blog-detail-content ul li:before{background: #fff;}
.blog-detail-content blockquote{background: #5d19db; border-color: #da4bfd;}
.blog-detail-tag ul li a, .blog-detail-social ul li a{background: #5d19db;}
.blog-detail-tag ul li a:hover{background: #da4bfd; color: #fff;}
.blog-detail-social ul li a:hover{background: #da4bfd; color: #fff;}
.blog-detail-tag-social, .blog-comment-post-singel{border-color: #5d19db;}
.comment-date{color: #bebebe;}
.comment-reply{background: #da4bfd;}
.comment-reply:hover{color: #fff; background: #5d19db;}

/*----- Roadmap Page -----*/
.roadmap-center-line{border-color: #da4bfd;}
.roadmap-center-line:before, .roadmap-center-line:after{background: #fff;}
.roadmap-animated{background: #5d19db;}
.roadmap-main-content:before{border-color: #da4bfd;}
.roadmap-small-round{border-color: #fff; background: #490fb4;}
.roadmap-small-round:before{background: #da4bfd;}
.roadmap-main .roadmap-detail-box{background: #5d19db;}
.roadmap-main .roadmap-des{color: #fff; padding: 0;}

/*----- Token Sale Page -----*/
.information-token-head{color: #da4bfd;}
.token-sale-counter{background: #5d19db;}
.token-sale-counter .coins-counter-loop li span{background: transparent;}
.token-sale-counter .coins-counter-loop li .coin-day{color: #da4bfd;}
.token-sale-counter .coins-progress span{background: rgb(218,75,253); background: -moz-linear-gradient(left,  rgba(218,75,253,1) 0%, rgba(73,15,180,1) 100%); background: -webkit-linear-gradient(left,  rgba(218,75,253,1) 0%,rgba(73,15,180,1) 100%); background: linear-gradient(to right,  rgba(218,75,253,1) 0%,rgba(73,15,180,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da4bfd', endColorstr='#490fb4',GradientType=1 );}
.token-slide-info:before{background: #490fb4;}
.token-sale-counter .coins-progress{background: #fff;}
.distribution-title { color: #da4bfd;}

/*----- Contact Page -----*/
.contact-detail li i{background: #5d19db;}

/*----- Footer Section -----*/
.footer-icon ul li a{background: #bd64d8;}
.footer-icon ul li a:hover{color: #fff;}
.footer-icon ul li a:hover{background: #2d1ef8;}
.footer-link ul li a:hover{color: #fd4bf1;}
.subscribe .form-control{background: #fcfcfc; color: #000000;}
.subscribe .submit{color: #ffffff; background: #da4bfd;}
.subscribe .form-control::-webkit-input-placeholder {color: #b3b3b3;}
.subscribe .form-control::-moz-placeholder {color: #b3b3b3;}
.subscribe .form-control:-ms-input-placeholder {color: #8d56f3;}
.subscribe .form-control:-moz-placeholder {color: #da4bfd;} 
.subscribe .submit:hover {color: #da4bfd; background: #3b0799;}
.copyright p a{color: #da4bfd;}
.copyright p a:hover {color: #fff;}
.copyright ul li:before{background: #5d19db;}
.footer{border-color: #5d19db;}

@media(min-width: 992px){
	.menu ul li:hover a{color: #da4bfd;}
	.mega-menu:hover:before{color: #da4bfd;}
	.menu ul ul li a{border-color: #491aa0 !important; color: #ffffff !important;}
	.menu ul ul li.mega-menu:before{color: #da4bfd;}
	.menu ul ul li:hover > a{color: #da4bfd;}
	.menu ul ul{background: rgba(97, 42, 197, 0.95);}
	.menu ul ul li a:before{background: #cdb4fc;}
}
@media(max-width: 991px){
	.menu{background: #dfd4f3;}
	.signin .btn{background: transparent;}
	header.fixed .menu-toggle.active span{background: transparent;}
}
